@page "/"

<PageTitle>Rule of Life</PageTitle>

<TodayVerseComponent />

<div class="row-header">
    <h4>Vertical</h4>
</div>
<div class="chart-row">

    <PracticeColumnComponent PracticeTitle="Silence & Solitude"/>
    <PracticeColumnComponent PracticeTitle="Scripture" />
    <PracticeColumnComponent PracticeTitle="Prayer" />
    <PracticeColumnComponent PracticeTitle="Community" />
    <PracticeColumnComponent PracticeTitle="Sabbath" />
    <PracticeColumnComponent PracticeTitle="Vocation" />
    <PracticeColumnComponent PracticeTitle="Hospitality" />
    <PracticeColumnComponent PracticeTitle="Simplicity" />

</div>