@page "/"

<PageTitle>Rule of Life</PageTitle>

<Simple.XChart.SharedComponents.Components.HeroBannerComponent />
@if (chart is not null)
{
    <div class="chart-filler"></div>
    <div class="chart-title">@chart.Title</div>
    <div class="chart-desc">@chart.Description</div>
}

<CascadingValue Value="chartId">
    <Simple.XChart.SharedComponents.Components.TableComponent />
</CascadingValue>