@page "/practice1/{practiceId}/{occurenceId}"

<div class="cell-header" @onclick="BackToMain">
    <a><i class="fa-solid fa-arrow-left"></i> Back</a>
</div>
<div class="cell cell-3 cell-center">
    <div class="cell-header-text text-lg">
        @(practice is null ? "" : $" > {practice.Description}")
    </div>
</div>

<div class="cell-header" @onclick="() => ViewDetails()">
    <div class="cell-header-text">
        <a><i class="fa-solid fa-square-plus"></i> New</a>
    </div>
</div>
<div class="cell cell-3"></div>

@if (actions is not null && actions.Any())
{
    foreach (var reflection in actions)
    {
        <div class="cell-header">
            <a @onclick="() => DeleteReflection(reflection)">Delete</a>
        </div>
        <div class="cell cell-3" @onclick="() => ViewDetails(reflection.reflection)">
            <div class="cell-text">
                @reflection.reflection.Title
            </div>
            <div class="cell-text">
                @reflection.reflection.Description
            </div>
        </div>
    }
}