<PageTitle>Rule of Life</PageTitle>

<div class="row-header">
    <h4>Setup Your Chart</h4>
</div>
<EditForm class="form" Model="TaskPeriod" OnSubmit="CreateChart">
    <div class="form-group">
        <label for="task-title">Title</label>
        <InputText id="task-title" class="form-control" @bind-Value="@TaskPeriod.Title"></InputText>
    </div>
    <div class="form-group">
        <label for="task-desc">Description</label>
        <InputTextArea id="task-desc" class="form-control noresize" rows="5" @bind-Value="@TaskPeriod.Description"></InputTextArea>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="date-start">Start</label>
            <InputDate id="date-start" class="form-control" @bind-Value="@TaskPeriod.DateStart"></InputDate>
        </div>
        <div class="col-md-6">
            <label for="date-end">End</label>
            <InputDate id="date-end" class="form-control" @bind-Value="@TaskPeriod.DateEnd"></InputDate>
        </div>
    </div>

    <button type="submit" class="mb-3 mt-3 btn btn-dark">Create</button>
</EditForm>