<div class="row hero-banner">
    <div class="hero-banner-heading">
        <h2>Rule of Life</h2>
    </div>

@if (BannerImage is not null) 
{
    <a class="hero-banner-photographer hero-banner-text" href="@BannerImage.PhotographerUrl" target="_blank">Photo By @BannerImage.Photographer</a>
}

</div>