<div class="row-header">
    <h4>@OccurenceType</h4>
</div>
<div class="chart-row">
    <div class="extra-wide-row">
        <div class="card card-yellow">
            <div class="card-heading">
                Silence & Solitude
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card card-yellow">
            <div class="card-heading">
                Silence & Solitude
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card card-yellow">
            <div class="card-heading">
                Scripture
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card card-yellow">
            <div class="card-heading">
                Prayer
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card card-yellow">
            <div class="card-heading">
                Community
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card card-yellow">
            <div class="card-heading">
                Sabbath
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card card-yellow">
            <div class="card-heading">
                Vocation
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card card-yellow">
            <div class="card-heading">
                Hospitality
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card card-yellow">
            <div class="card-heading">
                Simplicity
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>