<section class="chart-column">
    <p>@PracticeTitle</p>
    <article class="card card-yellow lift">
        <header class="card-heading">
            
        </header>
        <div class="card-body">
        </div>
    </article>
    <article class="card card-green lift">
        <div class="card-heading">
            
        </div>
        <div class="card-body">
        </div>
    </article>
    <article class="card card-pink lift">
        <div class="card-heading">
            
        </div>
        <div class="card-body">
        </div>
    </article>
</section>