<section class="occurence-container">
    <div class="occurence-row">
        <div class="occurence-column-corner"></div>
@if (occurences != null) {
    @foreach (var item in occurences)
    {
        <div class="occurence-column-header"><span>@item.Description</span></div>
    }
}
    </div>
@if (practices != null)
{
    @foreach (var item in practices)
    {
    <PracticeComponent practiceId="item.Id" />
    }
}
</section>