<section class="occurence-container">
    <div class="occurence-row">
        <div class="occurence-column-corner"></div>
    @if (Occurences != null) {
        @foreach (var item in Occurences)
        {
            <div class="occurence-column-header">@item.Description</div>
        }
    }
    </div>
@if (MyPractices != null)
{
    @foreach (var item in MyPractices)
    {
    <PracticeComponent MyPracticeId=@item.Id />
    }
}
</section>