.occurence-container {
    display: flex;
    flex-direction: column;
}

.occurence-row {
    display: flex;
    flex-direction: row;
    align-items:stretch;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.occurence-title {
    display: inline-block;
    padding: 10px;
    color: white;
    background-color:black;
    text-orientation: mixed;
    writing-mode: vertical-lr;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cell {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
    position: relative;
    padding: 10px;
}

    .cell form {
        width: 90%;
        margin: 0 auto;
    }

.occurence-column-corner {
    width: 39px;
}

.occurence-column-header {
    flex-grow: 1;
    background-color: lightgray;
    height: 39px;
    margin: 5px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.popup {
    position: fixed;
    width: 500px;
    max-width: 100vw;
    height: 500px;
    max-height: 100vh;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    z-index: 99;
    transition: all .2s;
}

.cell.popup form {
    display:flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    margin: 10px;
}

.cell.popup .card-heading {
    height:auto;
}

.cell.popup .card-heading input {
    width: 90%;
}