<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Simple.XChart.MVC</title>
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/classes.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/media.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/occurence_style.css" asp-append-version="true" />
    <link rel="stylesheet" href="Simple.XChart.RoL.Web.styles.css" />
    @await RenderSectionAsync("styles", required: false)
</head>
<body>
    <header>
        <div class="hero-banner">
            <a class="hero-banner-photographer" target="_blank"></a>
        </div>
        <div class="hero-banner-title">
            
        </div>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2024 - Rule of Life - </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
