@page "/about"

<div class="cell cell-4 cell-h4">
    <h3>About</h3>
    <h4>Disclaimer</h4>
    <p>I am not the author/creator of Rule of Life chart</p>
    <p>This app is developed as a hobby of mine and as an experiment.</p>
    <h4>Privacy Notice</h4>
    <p>This application does not collect and store any personal data in any way.</p>
    <p>Every data created in this application is stored locally in user's device</p>
    <p>A third party Api used to get Today's reading, Bible and banner pictures.</p>
    <p>Api providers:</p>
    <p>
        <ul>
            <li><a href="https://scripture.api.bible/" target="_blank">API.Bible</a></li>
            <li><a href="https://www.pexels.com/" target="_blank">Pexels stock photos</a></li>
            <li><a href="https://ourmanna.readme.io/reference/getting-started-with-your-api" target="_blank">Our Manna daily verse</a></li>
        </ul>
    </p>
</div>