@inherits LayoutComponentBase

<PageTitle>Rule of Life chart</PageTitle>


<Simple.XChart.SharedComponents.Components.TopBarComponent/>
<main>
    @Body
</main>
<Simple.XChart.SharedComponents.Components.FooterBarComponent/>